@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700|Roboto+Slab:400,700');

body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.grids {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.nav{
  position: fixed;
  color: rgb(0, 91, 118);
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #00c0fc;
  height: 60px;
  display: flex;
  padding: 0 30px;
  align-items: center;
}

.hero {
  background-color: #0cf;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
}

.timeline {
  padding: 30px 0px;
  background-color: yellow;
}

.timeline-module {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.timeline-lesson {
  color: #222;
  padding: 10px;
  border-radius: 6px;
  position: relative;
  background-color: #fff;
  margin-top: 20px;
}

.timeline-lesson-header {
  font-size: 18px;
  font-weight: 600;
}

.timeline-lesson-line {
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: pink;
  left: 50%;
  top: -20px;
}

.header-big {
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
}

.header-bigger {
  text-transform: uppercase;
  font-weight:700;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
}

.header-biggest {
  text-transform: uppercase;
  font-weight:700;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
}

.editor {
  margin: 0 auto;
  position: relative;
  border-top: 16px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  width: 150px;
  height: 120px;
  background-color: #444;
  border-radius: 6px;
}

.editor::before {
  position: absolute;
  top: -11px;
  right: 5px;
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: tomato;
}

.editor::after {
  position: absolute;
  top: 15px;
  left: 5px;
  content: '';
  height: 8px;
  width: 8px;
  border-right: 1px solid #49fb35;
  border-bottom: 1px solid #49fb35;
  transform: rotate(-45deg);
}

.editor-cursor {
  position: absolute;
  height: 16px;
  border-left: 1px solid #49fb35;
  top: 12px;
  left: 22px;
}

.img-computer {
  width: 200px;
  margin: 0 auto;
  position: relative;
  border-width: 10px;
  border-color: #444;
  border-style: solid;
  border-radius: 5px;
}

.img-computer::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 8px;
  background-color: #777;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.img-computer::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 45px;
  background-color: #777;
  border-radius: 20px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.img-phone-portrait {
  z-index: 1;
  width: 100px;
  margin: 0 auto;
  position: relative;
  border-width: 15px 10px;
  border-color: #444;
  border-style: solid;
  border-radius: 10px;
}

.img-phone-portrait::before {
  content: '';
  display: block;
  margin: auto;
  width: 18px;
  height: 3px;
  background-color: #666;
  position: absolute;
  border-radius: 58px;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.img-phone-portrait::after {
  content: '';
  display: block;
  margin: auto;
  width: 8px;
  height: 8px;
  background-color: #777;
  position: absolute;
  border-radius: 50%;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
}

.img-phone-portrait img,
.img-computer img {
  vertical-align: bottom;
  width: 100%;
}

.figure {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.animatable-line-1 {
  position: relative;
  z-index: 0;
  bottom: 70%;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: #fff;
  animation-duration: 3s;
  animation-name: line;
}

.animatable-line-2 {
  visibility: hidden;
  position: relative;
  z-index: 0;
  bottom: 70%;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: #fff;
  animation-delay: 3.5s;
  animation-duration: 3s;
  animation-name: line;
}

@keyframes line {
  0% {
    visibility: visible;
    width: 1px;
  }
  100% {
    width: 100%;
  }
}

/* FLEX */

.timeline-lesson-body {
  display: flex;
  justify-content: space-around;
}
