@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700|Roboto+Slab:400,700');

body {
  margin: 0px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.nav{
  position: fixed;
  color: rgb(0, 91, 118);
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #00c0fc;
  height: 60px;
  display: flex;
  padding: 0 30px;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.hero {
  background-color: #0cf;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
}

.timeline {
  padding: 30px 0px;
  background-color: yellow;
}

.timeline-module {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.timeline-lesson {
  color: #222;
  padding: 10px;
  border-radius: 6px;
  position: relative;
  background-color: #fff;
  margin-top: 20px;
}

.timeline-lesson-header {
  font-size: 18px;
  font-weight: 600;
}

.timeline-lesson-line {
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: pink;
  left: 50%;
  top: -20px;
}

.header-big {
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
}

.header-bigger {
  text-transform: uppercase;
  font-weight:700;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
}

.header-biggest {
  text-transform: uppercase;
  font-weight:700;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
}

.img-phone-portrait {
  position: relative;
  border-width: 15px 10px;
  border-color: #222;
  border-style: solid;
  border-radius: 10px;
}

.img-phone-portrait::before {
  content: "";
  width: 18px;
  height: 3px;
  background-color: #444;
  position: absolute;
  border-radius: 58px;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.img-phone-portrait::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #777;
  position: absolute;
  border-radius: 50%;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
}

.img-phone-portrait img {
  width: 100px;
}

/* FLEX */

.timeline-lesson-body {
  display: flex;
  justify-content: space-around;
}
